# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.env
.env.*
*.log
media/
staticfiles/

# Virtualenv
.venv/
venv/
ENV/

# IDEs / OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
wwwroot/
build/
dist/
yarn.lock
package-lock.json

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
